$theme-color: #2196f3;
$text-color: (
    light: #000,
    dark: #fff,
);
$bg-color: (
    light: #fff,
    dark: #000,
);

$bg-color-light: (
    light: #fff,
    dark: #252934,
);

$bg-color-active: (
    light: #f8f8f8,
    dark: #252934,
);

$bg-color-back: (
    light: #f8f8f8,
    dark: #1d2025,
);

$bg-color-float: (
    light: #fff,
    dark: #252934,
);

$bg-color-blur: (
    light: rgba(255, 255, 255, 0.5),
    dark: rgba(39, 45, 54, 0.5),
);

$bg-color-float-blur: (
    light: rgba(255, 255, 255, 0.5),
    dark: rgba(63, 70, 86, 0.5),
);

$border-color: (
    light: #eaecef,
    dark: #302d28,
);

// shadow
$box-shadow: (
    light: #f0f1f2,
    dark: #282a32,
);

$card-shadow: (
    light: rgba(0, 0, 0, 0.15),
    dark: rgba(0, 0, 0, 0.3),
);